<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div style="font-size:15px; text-align: center;">
        {{'Dashboard' | translate}}
      </div>
      <div style="font-size:12px; text-align: center;">
        {{'Welcome' | translate}}, {{islogin.fn}}&nbsp;{{islogin.ln}}!
      </div>
    </ion-title>
    <ion-buttons end>
      <button (click)="seeNotifications()" icon-only id="cart-btn" ion-button>
        <ion-icon name="notifications"></ion-icon>
        <ion-badge id="cart-badge">{{cartCount}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
  <progress-bar [progress]="loadProgress" *ngIf="loadProgress != 100">
  </progress-bar>
</ion-header>

<ion-content no-border overflow-scroll="false">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown"
                           pullingText="{{'Pull to refresh' | translate}}"
                           refreshingSpinner="circles"
                           refreshingText="{{'Refreshing...' | translate}}">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- <button (click)="disconnectFunc()">Socket Disconnect</button> -->
        <ion-slides pager style="margin-top: 1%;">
          <ion-slide style="margin-top: -10px">
            <!-- <div id="chart" class="chart" style="margin-bottom: 5%;"> -->
            <div #text1 class="text1"></div>
            <canvas #doughnutCanvas
                    height="200"
                    style="display: inline;"
                    width="200">
            </canvas>
            <!-- </div> -->
          </ion-slide>
          <!-- <ion-slide>
            <div padding>
              <canvas #barCanvas height="300" width="300"></canvas>
            </div>
          </ion-slide> -->
          <ion-slide>
            <div padding style="margin-bottom: 5%;">
              <canvas #doughnutCanvas1 height="200" width="200"></canvas>
            </div>
          </ion-slide>
          <ion-slide>
            <ion-label>{{ 'Fuel Price' | translate }}</ion-label>
            <ion-row>
              <ion-col col-4>
                <!-- <p style="font-size: medium;
                font-style: unset; margin-top: 12px;">Fuel price</p>-->
              </ion-col>
              <ion-col col-8>
                <ion-item style="background: transparent;">
                  <ion-select (ionChange)="getFuelPrice(yourStateName)"
                              [(ngModel)]="yourStateName"
                              interface="popover"
                              style="max-width: 100%;">
                    <ion-option [value]="item.state"
                                *ngFor="let item of fuelCities; let idx = index"
                                selected="{{(idx==0).toString()}}">
                      {{item.state}}
                    </ion-option>
                  </ion-select>
                </ion-item>
                <!-- <p style="margin: 0px;font-size: medium;">{{fuelPricesData.length > 0 ? fuelPricesData[0].state : null}}</p> -->
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-6 style="font-size: x-large;">
                Diesel
                <ion-row>
                  <ion-col>
                    <p style="margin: 0px; font-size: 1.3em; font-weight: 600;">
                      &#8377; {{fuelPricesData.length > 0 ? fuelPricesData[0].diesel : 0}}
                    </p>
                  </ion-col>
                </ion-row>
              </ion-col>

              <ion-col col-6 style="font-size: x-large;">
                Petrol
                <ion-row>
                  <ion-col>
                    <p style="margin: 0px; font-size: 1.3em; font-weight: 600;">
                      &#8377; {{fuelPricesData.length > 0 ? fuelPricesData[0].petrol : 0}}
                    </p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <!-- <p>fuel price</p>
                <ion-item style="background: transparent;">
                  <ion-select styleF="max-width: 100%;" [(ngModel)]="fuelCity" interface="popover" (ionChange)="getFuelPrice()">
                    <ion-option *ngFor="let item of fuelCities; let idx = index" selected="{{(idx==0).toString()}}" [value]="i">{{item.state}}</ion-option>
                  </ion-select>
            </ion-item>-->

            <!-- <div>
              <ion-item style="border-radius: 15px;" no-lines>
                <ion-label>{{ 'Reminders' | translate }}</ion-label>
                <ion-select [(ngModel)]="reminers" (ionChange)="onReminersChange(reminers)">
                  <ion-option value="lastSeven" selected="true">{{ 'Last 7 days' | translate }}</ion-option>
                  <ion-option value="lastFifteen">{{ 'Last 15 days' | translate }}</ion-option>
                  <ion-option value="lastThirty">{{ 'Last 30 days' | translate }}</ion-option>
                </ion-select>
              </ion-item>
              <ion-list>
                <ion-item *ngFor="let item of remindersData" style="background: transparent;">
                  <ion-row>
                    <ion-col>
                      <p style="margin: 0px;font-size: 0.7em; padding: 2px 12px 5px 12px;">
                        <ion-icon color="gpsc" name="clock"></ion-icon>&nbsp;&nbsp;
                        {{item.reminder_type}} pending for vehicle {{item.device ? item.device.Device_Name : 'unknown'}}
                        on
                        {{item.reminder_date | date:'mediumDate'}} {{item.reminder_date | date:'shortTime'}}
                      </p>
                    </ion-col>
                  </ion-row>
                </ion-item>
              </ion-list>
            </div>-->
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row style="padding-left: 15px; padding-right: 15px;">
    <ion-col (tap)="live()"
             style="border-right: 1px solid #B21F24; border-bottom: 1px solid #B21F24;"
             width-50>
      <div class="divS">
        <ion-icon class="iconS" color="gpsc" name="pin"></ion-icon>
        <br />
        {{'LIVE TRACKING' | translate}}
      </div>
    </ion-col>

    <ion-col (tap)="vehiclelist()"
             style="border-bottom: 1px solid #B21F24"
             width-50>
      <div class="divS">
        <ion-icon class="iconS" color="gpsc" name="car"></ion-icon>

        <br />
        {{'VEHICLES' | translate}}
      </div>
    </ion-col>
  </ion-row>

  <ion-row style="padding-left: 15px; padding-right: 15px;">
    <ion-col (tap)="historyDevice()"
             style="border-right: 1px solid #B21F24;"
             width-50>
      <div class="divS">
        <ion-icon class="iconS" color="gpsc" name="time"></ion-icon>
        <br />
        {{'History' | translate}}
      </div>
    </ion-col>
    <ion-col (tap)="geofence()" class="colStyl" width-50>
      <div class="divS">
        <ion-icon class="iconS" color="gpsc" name="disc"></ion-icon>
        <br />
        {{'GEOFENCE' | translate}}
      </div>
    </ion-col>
  </ion-row>
  <!-- <div style="padding-left: 8px; padding-right: 8px; padding-bottom: 16px; padding-top: 8px;">
    <ion-row class="rowClass">
      <ion-col col-4 style="border-right: 1px solid lightgray;">
       <p style="margin: 0px;font-size: 1.2em;">Petrol</p>
      </ion-col>
      <ion-col col-4 style="border-right: 1px solid lightgray;">
        <p style="margin: 0px;font-size: 1.2em;">Diesel</p>
      </ion-col>
      <ion-col col-4>
        <p style="margin: 0px;font-size: 1.2em;">{{fuelPricesData.length > 0 ? fuelPricesData[0].city : null}}</p>
      </ion-col>
    </ion-row>
    <ion-row class="forecast_container">
      <ion-col col-4 style="border-right: 1px solid lightgray;">
        <p style="margin: 0px; font-size: 1.3em; font-weight: 600;">&#8377; {{fuelPricesData.length > 0 ? fuelPricesData[0].petrol : 0}} </p>
      </ion-col>
      <ion-col col-4 style="border-right: 1px solid lightgray;">
        <p style="margin: 0px; font-size: 1.3em; font-weight: 600;">&#8377; {{fuelPricesData.length > 0 ? fuelPricesData[0].diesel : 0}} </p>
      </ion-col>
      <ion-col col-4>
        <ion-icon style="font-size: 1.5em;" color="gpsc" name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </div>-->
  <!-- <div style="padding-left: 8px; padding-right: 8px; padding-bottom: 16px; padding-top: 8px;">
    <ion-row class="rowClass">
      <ion-col col-4 style="border-right: 1px solid lightgray;">
        <ion-item class="itemClass" style="background: transparent;">
          <ion-select style="max-width: 100%;" [(ngModel)]="fuelTypes" interface="popover" (ionChange)="getFuelPrice()">
            <ion-option selected="true" value="diesel">Diesel</ion-option>
            <ion-option value="petrol">Petrol</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-4 style="border-right: 1px solid lightgray;">
        <ion-item style="background: transparent;" (ionChange)="getFuelPrice()">
          <ion-select style="max-width: 100%;" [(ngModel)]="fuelCity" interface="popover">
            <ion-option *ngFor="let item of fuelCities; let idx = index" selected="{{(idx==0).toString()}}" [value]="item.city">{{item.city}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-4 style="text-align: center;margin: auto;">
        <p style="margin: 0px; font-size: 1.5em; font-weight: 600;">&#8377; 76 </p>
      </ion-col>
    </ion-row>
    <ion-row nowrap class="forecast_container">
      <ion-col *ngFor="let item of fuels" col-3 class="forecast_div">
        <p style="font-size: 1.3em; font-weight: 500;">&#8377; {{item}}</p>
      </ion-col>
    </ion-row>
  </div>-->
</ion-content>
