<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'Geofence Report' | translate}}</ion-title>
        <ion-buttons end *ngIf="geofenceReportdata.length > 0">
            <!-- <button ion-button style="background: white; color: #B21F24;" small (click)="OnExport()">{{"Export To
              Excel" | translate}}</button> -->
              <button ion-button icon-only style="color: #fff;" small (click)="OnExport()">
                <img style="width: 20px;" type="image/svg+xml" src="assets/icon/microsoft-office-mac-tilt-excel-icon-17.svg" *ngIf="pltStr === 'ios'">
                <ion-icon name="custom-excel" *ngIf="pltStr !== 'ios'"></ion-icon>
              </button>
          </ion-buttons>
    </ion-navbar>
    <ion-item style="background-color: #fafafa;">
        <ion-label style="margin-top: 15px;">{{'Select Geofence' | translate}}</ion-label>
        <select-searchable item-content [(ngModel)]="selectedGeofence" [items]="geofencelist" itemValueField="geoname"
            itemTextField="geoname" [canSearch]="true" (onChange)="getGeofencedata(selectedGeofence)">
        </select-searchable>
    </ion-item>
    <ion-row style="background-color: #fafafa;">
        <ion-col style="text-align: center;">
          <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
            (click)="changeDate('today')">{{"Today" | translate}}</button>
          <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
            (click)="changeDate('yest')">{{"Yesterday" | translate}}</button>
          <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
            (click)="changeDate('week')">{{"Week" | translate}}</button>
          <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
            (click)="changeDate('month')">{{"Month" | translate}}</button>
        </ion-col>
      </ion-row>
    <ion-row style="background-color: #fafafa;" padding-left padding-right>
        <ion-col width-20>

            <ion-label>
                <span style="font-size: 13px">{{'From Date' | translate}}</span>
                <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [min]="twoMonthsLater" [max]="today"
                    [(ngModel)]="datetimeStart" style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;">
                </ion-datetime>
            </ion-label>
        </ion-col>

        <ion-col width-20>
            <ion-label>
                <span style="font-size: 13px">{{'To Date' | translate}}</span>
                <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a"
                    [(ngModel)]="datetimeEnd" style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;">
                </ion-datetime>
            </ion-label>
        </ion-col>

        <ion-col width-20>
            <div style="margin-top: 9px; float: right">
                <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getGeofenceReport();">
                </ion-icon>
            </div>
        </ion-col>
    </ion-row>
</ion-header>

<ion-content>
    <ion-card *ngFor="let item of geofenceReportdata;">
        <ion-item style="border-bottom: 2px solid #dedede;">
            <ion-avatar item-start>
                <img src="assets/imgs/car_red_icon.png"
                    *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/car_green_icon.png"
                    *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/car_grey_icon.png"
                    *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC==null))">

                <img src="assets/imgs/truck_icon_red.png"
                    *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/truck_icon_green.png"
                    *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/truck_icon_grey.png"
                    *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC==null))">

                <img src="assets/imgs/bike_red_icon.png"
                    *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/bike_green_icon.png"
                    *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/bike_grey_icon.png"
                    *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC==null))">

                <img src="assets/imgs/jcb_red.png"
                    *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/jcb_green.png"
                    *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/jcb_gray.png"
                    *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC==null))">

                <img src="assets/imgs/bus_red.png"
                    *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/bus_green.png"
                    *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/bus_gray.png"
                    *ngIf="((item.device.iconType == 'bus')&&( !item.device.last_ACC ))">

            </ion-avatar>
            <ion-label>{{item.vehicleName}}</ion-label>
            <ion-badge item-end color="gpsc" *ngIf="item.direction=='Out'">{{item.direction}}&nbsp; <ion-icon
                    ios="ios-arrow-round-up" md="md-arrow-round-up"></ion-icon>
            </ion-badge>
            <ion-badge item-end color="secondary" *ngIf="item.direction=='In'">{{item.direction}}&nbsp;<ion-icon
                    ios="ios-arrow-round-down" md="md-arrow-round-down"></ion-icon>
            </ion-badge>
        </ion-item>
        <ion-card-content>
            <ion-row style="padding-top:5px;">
                <ion-col col-1>
                    <ion-icon ios="ios-time" md="md-time" style="font-size:15px;"></ion-icon>
                </ion-col>
                <ion-col col-11 style="color:gray;font-size:11px;font-weight: 400;">
                    {{item.timestamp | date: 'medium'}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-1>
                    <ion-icon ios="ios-pin" md="md-pin" color="gpsc" style="font-size:15px;"></ion-icon>
                </ion-col>
                <ion-col col-11 style="color:gray;font-size:11px;font-weight: 400;">
                    {{item.StartLocation}}
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>